@model IEnumerable<CarRentalWebApp.Models.Branch>

<h1>Branches</h1>

<p>
    <input type="button" value="Create" onclick="location.href='@Url.Action("Create", "Branch")'" class="btn btn-primary" />
</p>

<table class="table">
    <thead>
        <tr>
            <th>Branch ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var branch in Model)
        {
            <tr>
                <td>@branch.BranchId</td>
                <td>@branch.Name</td>
                <td>@branch.City</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@branch.BranchId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
